<footer id="footer">
  <div class="container">
      <div class="footerCenter">
          <img src="assets/images/Logo_MathGymUSA_STEAMMCS.png">
      </div>
  
  <div class="footerMd">
      <div class="col-md-4 footeralg">rrss</div>
      <div class="col-md-4 footeralg footercopy"><p>Copyright www.mathgymusa.com</p></div>
      <div class="col-md-4 footeralg">
        <ul class="footernav">
          <li><a routerLink="/">Contact</a></li>
          <li><a routerLink="/">Terms of use</a></li>
          <li><a routerLink="/">Privacy Policy</a></li>
        </ul>
      </div>
  </div>
</div>
</footer>