<header [className]="myhmClass ? 'boxheaderMGU': 'OnlyHomeboxheader'">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
            <div class="logoGUsa">
              <a class="logoGUsaBrnd" routerLink="/"><img src="assets/images/Logo_Math_Gym_USA.png"></a>
            </div>
            <button class="navbar-toggler navgym" type="button" data-toggle="collapse" data-target="#navGymu" aria-controls="navGymu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navgymlines"></span><span class="navgymlines"></span><span class="navgymlines"></span>
            </button>
              <nav id="brandMusa">
                <div class="collapse navbar-collapse" id="navGymu">
                  <ul class="navbar-nav MNavusa">

                    <li class="nach">
                      <a href="#">Cursos</a>

                      <div class="ShoNa-content">
                            <div class="navCHCh">
                              <ul class="shch">
                                <li class="Mth"><a href="#">Bootstrap</a>
                                  <div class="shoNav">
                                      <div>
                                        <h3>HOME</h3>
                                        <p>Some content.</p>
                                      </div>
                                  </div>


                                </li>
                                <li class="Mth"><a href="#">Menu 1</a>
                                  <div class="shoNav">
                                      <div class="Gkmb">
                                        <ul>
                                            <li><a routerLink="">semniarios</a></li>
                                            <li><a routerLink="">Diplomados</a></li>
                                            <li><a routerLink="">Cursos</a></li>
                                        </ul>
                                      </div>
                                      <div class="Gkmb">
                                        <ul>
                                            <li><a routerLink="">semniarios</a></li>
                                            <li><a routerLink="">Diplomados</a></li>
                                            <li><a routerLink="">Cursos</a></li>
                                        </ul>
                                      </div>
                                  </div>
                                </li>

                                <li class="Mth"><a href="#">Menu 2</a>
                                    <div class="shoNav">
                                      <div class="Gkmb">
                                        <ul>
                                            <li><a routerLink="">Congresos</a></li>
                                            <li><a routerLink="">Diplomados</a></li>
                                            <li><a routerLink="">Cursos</a></li>
                                        </ul>
                                      </div>
                                      <div class="Gkmb">
                                        <ul>
                                            <li><a routerLink="">Congresos</a></li>
                                            <li><a routerLink="">Diplomados</a></li>
                                            <li><a routerLink="">Cursos</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                </li>
                              </ul>
                            </div>



                      </div>
                    </li>


                    <li>
                      <a routerLink="/FormFilterMGUComponent">Find a tutor</a>
                    </li>

                    <li>
                      <a routerLink="/">Programs</a>
                    </li>

                    <li>
                      <a routerLink="/">Ebooks</a>
                    </li>

                    <li>
                      <a routerLink="/">Become a tutor</a>
                    </li>


                    <li>
                      <a routerLink="/">About us</a>
                    </li>

                    <li>
                      <a routerLink="/">Log In</a>
                    </li>

                    <li class="rgisterMyU">
                      <a routerLink="/">Register</a>
                    </li>



                  </ul>
                </div>
              </nav>
    </nav>
  </div>
</header>
