<form class="formGYM" action="/" method="post" id="formwhereu">

  <div class="col-md-12">
    <div class="form-group">
      <label class="LabelMGU">Choose your country</label>
      <div class="col-md-12">
          <select  name="country" class="form-control inputForMGU">
               <option value="-2">United States</option>
               <option value="-2">India</option>
               <option value="-2">Pakistan</option>
          </select>
      </div>
    </div>
  </div>


<div class="col-md-12">
  <div class="form-group">
    <label class="LabelMGU">State</label>
    <div class="col-md-12">
        <input type="text" class="form-control inputForMGUText">
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label class="LabelMGU">City</label>
    <div class="col-md-12">
        <input type="text" class="form-control inputForMGUText">
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label class="LabelMGU">Adress</label>
    <div class="col-md-12">
        <input type="text" class="form-control inputForMGUText">
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <label class="LabelMGU">*Zipcode</label>
    <div class="col-md-12">
        <input type="text" class="form-control inputForMGUText">
    </div>
  </div>
</div>


<div class="col-md-6">
  <div class="form-group">
    <label class="LabelMGU">Driving Distance</label>
    <div class="col-md-12">
      <select  name="country" class="form-control inputForMGU">
           <option value="-2">1 mile</option>
           <option value="-2">1.5 mile</option>
           <option value="-2">2 mile</option>
      </select>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="buttonBox">
    <a routerLink="/searchtutoring"><button type="submit" class="SucessfulBtn">NEXT ></button></a>
  </div>
</div>

</form>
